*{
	box-sizing: border-box;
}
body{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}
.dish{
	text-align: right; 
	background-color: rgb(280,20,40);
	color:black;
	font-weight: 20;

}

p{

	text-align:left;
}


 .row{
 	width: 100%;
 }


 @media(min-width: 992px){
 	.col-lg-4{
 		width:33.33%;
 		float: left;
 		border: 1px solid black;
 		color: rgb(217,55,20);
 		background-color: rgb(2, 51, 109);

 	}
 }

@media(min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width: 50%;
		float: left;
		color: rgb(217,55,20);
 		background-color: rgb(2, 51, 109);

	}
	.col-md-12{
		width:100%;
		float: left;
		color: rgb(217,55,20);
 		background-color: rgb(2, 51, 109);
	}
} 
