*{
	box-sizing: border-box;
}
body{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}
.dish{
	position: absolute;
	top: 0;
	right:0;
	background-color: rgba(280,20,40,0.3);

}

p{

	text-align:left;
}


